*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* CSS RESET */

* {
  font-family: 'Cardo', serif;
}

/* html {
  display: flex;
} */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  transition: 2s;
}

.logo-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.logo {
  position: relative;
  display: inline-flex;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
.question-box {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.question-input {
  width: 30%;
}
.question-input::placeholder {
  text-align: center;
  justify-content: center;
  width: 100%;
}

.heading {
  font-size: x-large;
  text-align: center;
  padding: 5px;
}

.buttons {
  padding: 10px;
}

.answers {
  z-index: 2;
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 1;
  /* pointer-events: none; */
  background-color: black;
  transition: 1s;
}
.back {
  margin: 10px;
}

.answers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.answer-buttons {
  position: fixed;
  top: 0px;
  left: 0;
  opacity: 0;
  transition: 1s;
}
.answer-box {
  align-items: center;
  text-align: center;
  max-width: 70%;
  justify-content: space-between;
}
.answer-box div {
  background-color: white;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 25px;
}

@media only screen and (max-width: 960px) {
  .question-input {
    width: 90%;
  }
  .question-input::placeholder {
    font-size: 15px;
  }
}
